/*Títulos e Temas*/
body{
background-color:#4fd8e8;
background: linear-gradient(indigo,#EEE9DE, #EEE9DE, indigo);
font-family:'Century Gothic' !important;
}
h2{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif !important;
}
.Titulo_Curso{
    font-size:3em;
    text-align:center;
}

/*Votação com Estrelas*/
.vote label {
    cursor:pointer;
}
.vote label input{
    display:none;
}
.vote label i {
    font-family:FontAwesome;
    font-size:18px;
    -webkit-transition-property:color, text;
    -webkit-transition-duration: .2s, .2s;
    -webkit-transition-timing-function: linear, ease-in;
    -moz-transition-property:color, text;
    -moz-transition-duration:.2s;
    -moz-transition-timing-function: linear, ease-in;
    -o-transition-property:color, text;
    -o-transition-duration:.2s;
    -o-transition-timing-function: linear, ease-in;
}
.vote label i:before {
    content:'\f005';
}
.vote label i.active {
    color:gold;
}

/*Estrutura da Página*/
.conteudo {
    border-radius: 6px;
    height:100%;
    background-color:white;
}

.head{
    border: 12px solid #ddd;
    border-bottom-color:indigo;
    border-top-color:indigo;
    border-radius: 5px; 
    margin-top: 0px; 
    margin-bottom: 0px;
    background-color:white;
}

.logo{
    text-align:center; 
    width:auto;
    height:auto;
    margin-top:5px;
    margin-bottom:5px;   
}

footer#main{
	position:relative;
	left:0;
	bottom:10px;
	text-align:center;
	font:normal 11px/16px Arial, Helvetica, sans-serif;
	width:100%;
    margin-top:20px;
    color:white;
}

/*login*/
.form-signin {
  max-width: 300px;
  padding: 15px;
  margin: 0 auto;
  border: 2px solid #ddd;
  margin-top:10%;
  margin-bottom:10%;
  border-bottom: 7px solid gray;
  border-right: 7px solid gray;
  border-radius: 10px;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="text"] {
  margin-bottom: 8px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}  

/*Estrutura do Conteúdo*/
.rr { 
    display: block;
    padding-top: 0.35em;
    padding-bottom: 0.625em;
    padding-left: 0.75em;
    padding-right: 0.75em;
}
.validation{
    color:red;
}
.formlabel {
    font-weight:bold;
   
}